VITE_SUPABASE_URL=https://nifzdnjbphgxsxpfowhf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pZnpkbmpicGhneHN4cGZvd2hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4OTA2OTEsImV4cCI6MjEwMDQ2NjY5MX0._OcVoYoc-T415O-S6w2xn0dwfdxWyGXFGpGhJQJoOJc
